<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
</head>
<body>
<h3>登录</h3>
<h3 th:text="${msg}" style="color: red"></h3>
<form method="post" action="loginByPassword">
    用户名：<input type="text" name="name">
    <br/>
    密码：<input type="password" name="password">
    <input type="submit" value="登录">
</form>
<br/>
<br/>
<h3 th:text="${msg}" style="color: red"></h3>
<form method="post" action="loginByCodeSend">
    用户名：<input type="text" name="name">
    <input type="submit" value="发送验证码">
</form>
<br/>
<br/>
<h3 th:text="${msg}" style="color: red"></h3>
<form method="post" action="loginByCode">
    用户名：<input type="text" name="name">
    <br/>
    验证码：<input type="password" name="code">
    <input type="submit" value="登录">
</form>
</body>
</html>