<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.competition.dao.CompetitionWikiReplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.competition.entity.CompetitionWikiReply">
        <id column="id" property="id" />
        <result column="competition_wiki_id" property="competitionWikiId" />
        <result column="user_id" property="userId" />
        <result column="content" property="content" />
        <result column="createAt" property="createAt" />
        <result column="updateAt" property="updateAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, competition_wiki_id, user_id, content, createAt, updateAt
    </sql>

</mapper>
