<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.competition.dao.UserCompetitionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.competition.entity.UserCompetition">
        <id column="competition_id" property="competitionId" />
        <result column="user_id" property="userId" />
        <result column="reward" property="reward" />
        <result column="certificate" property="certificate" />
        <result column="check" property="check" />
        <result column="hash" property="hash" />
        <result column="createAt" property="createAt" />
        <result column="updateAt" property="updateAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        competition_id, user_id, reward, certificate, check, hash, createAt, updateAt
    </sql>

</mapper>
